In [ ]:
# This notebook contains EDA of the vehicles_us dataset.

In [11]:
import pandas as pd
import numpy as np
import streamlit as st
import plotly.express as px

In [12]:
#read the data and print some basic info
df = pd.read_csv(r'C:\Users\joeyc\carapp\vehicles_us.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28

In [13]:

#fill missing is_4wd data with 0 and convert column to boolean
df['is_4wd'] = df['is_4wd'].fillna(0).astype(bool)

# Confirm the changes
df['is_4wd'].head(), df['is_4wd'].dtype, df['is_4wd'].isnull().sum()

(0     True
 1     True
 2    False
 3    False
 4    False
 Name: is_4wd, dtype: bool,
 dtype('bool'),
 0)

In [18]:
# Fill missing values in the 'paint_color' column with 'unknown'
df['paint_color'] = df['paint_color'].fillna('unknown')

# Confirm the changes
df['paint_color'].isnull().sum(), df['paint_color'].head()

(0,
 0    unknown
 1      white
 2        red
 3    unknown
 4      black
 Name: paint_color, dtype: object)

In [14]:
# Extract the manufacturer from the 'model' column
df['manufacturer'] = df['model'].str.split().str[0]
df['manufacturer'].head()

0         bmw
1        ford
2     hyundai
3        ford
4    chrysler
Name: manufacturer, dtype: object

In [15]:
#create selectbox for car brand where input is selected manufacturer
manufacturer_choose=df['manufacturer'].unique()
st.selectbox('choose a manufacurer', manufacturer_choose)

'bmw'

In [16]:
# Group by manufacturer and type to get the counts
manufacturer_type_counts = df.groupby(['manufacturer', 'type']).size().unstack(fill_value=0)
# Reset index to ensure 'manufacturer' becomes a column
manufacturer_type_counts = manufacturer_type_counts.reset_index()

# Melt the dataframe to create a long format suitable for Plotly Express
manufacturer_type_counts_melted = pd.melt(manufacturer_type_counts, id_vars=['manufacturer'], var_name='type', value_name='count')

# Plot using Plotly Express
fig = px.bar(manufacturer_type_counts_melted, x='manufacturer', y='count', color='type', barmode='stack',
             title='Vehicle Types by Manufacturer', labels={'manufacturer': 'Manufacturer', 'count': 'Count', 'type': 'Vehicle Type'})

# Customize layout
fig.update_layout(
    xaxis={'categoryorder': 'total descending'},
    legend_title_text='Vehicle Type'
)

# Show the plot
st.plotly_chart(fig)

DeltaGenerator()

In [17]:
# Ensure columns are numeric if needed
df['model_year'] = pd.to_numeric(df['model_year'], errors='coerce')
df['price'] = pd.to_numeric(df['price'], errors='coerce')

# Title and description
st.title('Model Year vs. Price of Used Cars in the US')
st.write('Explore how the price of used cars varies by model year.')

# Plot using Plotly Express
fig = px.scatter(df, x='model_year', y='price', title='Model Year vs. Price',
                 labels={'model_year': 'Model Year', 'price': 'Price'})

# Customize layout (optional)
fig.update_layout(
    xaxis_title='Model Year',
    yaxis_title='Price'
)

# Display the plot using Streamlit's Plotly support
st.plotly_chart(fig)

DeltaGenerator()